<span class="noselect">
	<i style="margin-left:2px;" class="fa fa-3x yellow" data-ng-repeat="star in review.stars" data-ng-class="{'fa-star':star.on==true, 'fa-star-half-o':star.half==true, 'fa-star-o':star.on==false}"></i>
	({{review.rating}} stars)
</span>