<div class="row" style="font-size:1.25em">

	<div data-ng-class="{'col-xs-11 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1 debug':showLogoAtTop==true}" data-ng-hide="showLogoAtTop!=true" style="text-align:left;margin-bottom:30px;border:0px red dotted">
		<a data-ng-href="/"><img data-ng-src="/images/logo.png" height="100"></a>
	</div>


	<div data-ng-class="{'col-xs-12 col-sm-9 col-md-9 col-lg-9 debug':showLogoAtTop==true, 'col-xs-12':showLogoAtTop!=true}" style="border:red 0px solid;text-align:right;">

		<span style="margin-right:15px" data-ng-show="isLoggedIn==false">
			Welcome |
			<a href="/#/login">Log in</a>
		</span>

		<span style="margin-right:15px" data-ng-show="isLoggedIn==true">
			Welcome, {{usersname}} |
			<a href="/#/admin">Admin</a> |
			<a href="/#/profile" id="profile" style="text-align:right;">Profile</a> |
			<a href="/#/logout" id="logout" style="text-align:right;"><b>Logout</b></a>
		</span>
	</div>

</div>