/* Space out content a bit */

body {
  padding-top: 20px;
  padding-bottom: 20px;
  /*padding: 20px;*/
  /*background-color: white;*/
  /*#f0f0f0;*/
  /*background-color: #f5f8fa;*/
  background-color: lightblue;
  /*background-image: url('/images/cloth.jpg');*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */

  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */

  .jumbotron {
    border-bottom: 0;
  }
}

#loginSubmitArea input,
#loginSubmitArea a,
#subscribeButton,
#questionButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3.welcome {
  color: #777777;
  font-weight: 800;
}

.twitter {
  text-align: left;
  padding-top: 60px;
}

.debug {
  border: 0px blue solid;
}

.nomargin {
  margin: 0;
  padding: 0;
}

.carousel-indicators {
  list-style-position: inside;
}

div.ForgotLink {
  margin-left: 30px;
  display: inline;
}

div.ForgotLink a {
  font-size: 2em;
  font-weight: 200;
}

div.CancelLink {
  margin-left: 30px;
  display: inline;
}

div.CancelLink a {
  font-size: 2em;
  font-weight: 200;
}

.yellow {
  color: yellow;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.positiveButton {
  border: 5px darkgray solid;
  /*color:white;*/
}

.yesPositiveReview {
  color: white;
  border: 5px green solid;
  background-color: green;
}

.noPositiveReview {
  color: white;
  border: 5px red solid;
  background-color: red;
}

.hoverButtonYes:link,
.hoverButtonNo:link,
.hoverButtonYes:visited,
.hoverButtonNo:visited {
  background-color: darkgray;
  border: 5px darkgray solid;
  color: white;
}

.hoverButtonYes:hover {
  color: white;
  border: 5px yellow solid;
  /*background-color:green;*/
}

.hoverButtonNo:hover {
  color: white;
  border: 5px yellow solid;
  /*background-color:red;*/
}

.hoverButtonYes:focus {
  color: yellow;
  border: 5px yellow solid;
  /*background-color:green;*/
}

.hoverButtonNo:focus {
  color: yellow;
  border: 5px yellow solid;
  /*background-color:red;*/
}

.hoverButtonYes:active {
  color: white;
  border: 5px yellow solid;
  background-color: green;
}

.hoverButtonNo:active {
  color: white;
  border: 5px yellow solid;
  background-color: red;
}