<div data-ng-include src="'views/partials/topbar.html'"></div>


<div class="row">

	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

		<h1 style="font-size:3em;font-weight:800;">Admin Home</h1>

		<div style="font-size:1.5em;line-height:2;">
			<a data-ng-href="#/admin/users">Users</a><br>
			<a data-ng-href="#/companies">Companies</a><br>
			<a data-ng-href="#/products">Products</a><br>
			<a data-ng-href="#/reviews">Reviews</a><br>
		</div>


	</div>
</div>