<div data-ng-include src="'views/partials/topbar.html'"></div>


<div class="row">

	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		<div style="font-size:3em;font-weight:800;margin-bottom:15px;border:0px red solid;float:left">Add New User</div>
		<alert id="alert" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>


		<div class="col-xs-3" style="clear:both">
			<form class="form-horizontal" data-ng-submit="inviteAuthenticatedUser()">
				<div class="form-group">
					<input class="form-control" id="firstname" data-ng-model="firstname" placeholder="First Name">
					<input class="form-control" id="lastname" data-ng-model="lastname" placeholder="Last Name">
					<input class="form-control" id="email" data-ng-model="email" placeholder="Email">
					<input class="form-control" id="email2" data-ng-model="email2" placeholder="Email again">
					<input class="form-control btn btn-primary" id="submitAddUser" type="submit" value="Add User And Send Email" style="margin-top:10px;margin-left:25px;font-size:1.5em">
				</div>
			</form>
		</div>

	</div>

</div>