<div data-ng-include src="'views/partials/topbar.html'"></div>


<div class="row">

	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

		<div style="font-size:3em;font-weight:800;margin-bottom:15px;border:0px red solid;float:left">Companies</div>
		<a style="float:left;margin-top:10px;margin-left:25px;font-size:1.5em;" data-ng-href="#/admin/companies/add" class="btn btn-primary">+ Add new company</a>

		<div data-ng-repeat="company in companies" style="font-size:1.5em;line-height:2;clear:both">
			<a data-ng-href="#/companies/{{company.id}}">{{company.name}}
		</div>

	</div>
</div>