<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 debug">
		<alert id="alert" data-ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>
</div>


<div data-ng-include src="'views/partials/topbar.html'"></div>


<div class="row">

	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		<div style="font-size:3em;font-weight:800;margin-bottom:15px;border:0px red solid;float:left">{{company.name}}</div>
		<a style="float:left;margin-top:10px;margin-left:25px;font-size:1.5em;" data-ng-href="" class="btn btn-primary">Edit company details</a>
		<button style="float:left;margin-top:10px;margin-left:25px;font-size:1.5em;" href="" class="btn btn-success" data-ng-click="writeCompanyReview()">Leave a review</button>

		<br><br>

		<div style="clear:both;margin-bottom:15px;font-size:2em;margin-top:50px;">Company Reviews</div>

		<div data-ng-repeat="review in reviews" style="margin-bottom:15px;padding-top:15px;border-top:1px dotted gray;clear:both;">
			<div data-ng-include src="'views/partials/starRating.html'"></div>
			<span style="font-weight:900;font-size:1.25em">"{{review.subject}}"</span>
			<!--{{review.rating}}<br>-->
			<div style="font-weight:500;font-size:1.1em">
				<a data-ng-hide="review.target_companyid==null" data-ng-href="#/companies/{{review.target_companyid}}">{{review.company_name}}</a>
				<a data-ng-hide="review.target_productid==null" data-ng-href="#/products/{{review.target_productid}}">{{review.product_name}}</a>
			</div>
			<div style="clear:both;margin-top:10px;margin-bottom:10px;font-weight:300;font-size:1.25em" data-ng-bind="review.text">
				<!--"{{review.text}}"<br>-->
			</div>
			<div style="font-size:1.25em">
				<span data-ng-hide="review.anonymous_type==2">Anonymous</span>
				<a data-ng-hide="review.anonymous_type==1" data-ng-href="#/users/{{review.user_id}}">{{review.user_firstname}} {{review.user_lastname}}</a>
				<br>
				{{review.timestampFormatted}}
			</div>
		</div>

		<div style="clear:both;margin-bottom:15px;font-size:2em;margin-top:50px;">Products & Reviews</div>

		<div data-ng-repeat="product in products" style="margin-top:25px;padding-top:15px;border-top:1px dotted gray;line-height:1.75">
			<a data-ng-href="#/products/{{product.id}}" style="font-size:1.25em;">{{product.name}}</a>
			<div style="font-size:1.2em;clear:both;">{{product.description}}</div>
		</div>


	</div>
</div>
