<div class="row debug">

	<div class="col-xs-12 debug" style="text-align: center;margin-bottom:30px;">
		<a data-ng-href="/"><img data-ng-src="/images/logo.png"></a>
	</div>

</div>



<div class="row">&nbsp;</div>

<div class="row">

	<alert id="alert" data-ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>


	<div class="col-xs-12 debug" style="text-align: center;">

		<div style="display:inline-block;" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 debug">

			<form name="login" role="form" data-ng-submit="requestPasswordReset()">
				<div class="form-group">
					<input style="font-size:28px;font-weight:200;height:50px;" type="text" name="email" data-ng-model="email" class="form-control" id="email" placeholder="Email">
				</div>
				<div class="form-group">
					<button id="requestResetButton" style="font-size:28px;font-weight:200;height:50px;" type="submit" class="btn btn-primary">Submit request</button>
					<div class="CancelLink"><a href="/#/">Cancel</a></div>
				</div>
			</form>

		</div>
	</div>
</div>




<!--<div>-->

  <!--<form data-ng-submit="requestPasswordReset()">-->
    <!--<alert id="alert" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>-->
    <!--<input type="text" id="email" name="email" placeholder="Email" data-ng-model="email">-->
    <!--<input type="submit" id="requestResetButton" value="Submit request">-->
  <!--</form>-->

<!--</div>-->