<div class="row debug">

	<div class="col-xs-12 debug" style="text-align: center;margin-bottom:30px;">
		<a data-ng-href="/"><img data-ng-src="/images/logo.png"></a>
	</div>

</div>


<div class="row">

	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 debug">
		<alert id="alert" data-ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>

	<div class="col-xs-12 debug" style="text-align: center;">

		<div style="display:inline-block;" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 debug">

			<form name="login" role="form" data-ng-submit="attemptLogin()">
				<div class="form-group">
					<input style="font-size:28px;font-weight:200;height:50px;" type="text" name="loginEmail" data-ng-model="email" class="form-control" id="email" placeholder="Email">
				</div>
				<div class="form-group">
					<input style="font-size:28px;font-weight:200;height:50px;" type="password" data-ng-model="password" class="form-control" id="password" placeholder="Password">
				</div>
				<div class="form-group" data-ng-show="showResetPasswordOptions">
					<input style="font-size:28px;font-weight:200;height:50px;" type="password" data-ng-model="newpassword1" class="form-control" id="newpassword1" placeholder="New Password">
				</div>
				<div class="form-group" data-ng-show="showResetPasswordOptions">
					<input style="font-size:28px;font-weight:200;height:50px;" type="password" data-ng-model="newpassword2" class="form-control" id="newpassword2" placeholder="New Password Confirmation">
				</div>
				<div class="form-group">
					<button id="loginButton" style="font-size:28px;font-weight:200;height:50px;" type="submit" class="btn btn-primary">Login</button>
					<div class="ForgotLink"><a href="/#/forgot">Forgot</a></div>
				</div>
			</form>


		</div>



	</div>

</div>

