

<div data-ng-include src="'views/partials/topbar.html'"></div>


<div class="row">

	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		<h1 style="font-size:3em;font-weight:800;">Products</h1>


		<div data-ng-repeat="product in products" style="font-size:1.5em">
			<a data-ng-href="#/products/{{product.id}}">{{product.name}}</a> - <a data-ng-href="#/companies/{{product.company_id}}">{{product.company_name}}</a><br>
		</div>

	</div>
</div>