<div data-ng-include src="'views/partials/topbar.html'"></div>


<div class="row">

	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

		<div style="font-size:3em;font-weight:800;margin-bottom:0;border:0 red solid;float:left">{{product.name}}</div>

		<a style="float:left;margin-top:10px;margin-left:25px;font-size:1.5em;" data-ng-href="#/admin/companies/add" class="btn btn-primary">Edit</a>
		<button style="float:left;margin-top:10px;margin-left:25px;font-size:1.5em;" href="" class="btn btn-success" data-ng-click="writeProductReview()">+ Leave a review</button>

		<div style="clear:both;font-size:2em;font-weight:100;">by <a data-ng-href="/#/companies/{{product.company_id}}" style="font-weight:400;">{{product.company_name}}</a></div>

		<div style="clear:both;margin-top:15px;font-size:1.2em;">
			{{product.description}}
		</div>

		<div style="clear:both;margin-bottom:15px;font-size:2em;margin-top:50px;">Product Reviews</div>

		<div data-ng-repeat="review in reviews" style="margin-bottom:15px;padding-top:15px;border-top:1px dotted gray;clear:both;">
			<div data-ng-include src="'views/partials/starRating.html'"></div>
			<span style="font-weight:900;font-size:1.25em">"{{review.subject}}"</span><br>
			<div style="clear:both;margin-top:10px;margin-bottom:10px;font-weight:300;font-size:1.25em">
				"{{review.text}}"<br>
			</div>
			<span data-ng-hide="review.anonymous_type==2">Anonymous</span>
			<a data-ng-hide="review.anonymous_type==1" data-ng-href="#/users/{{review.user_id}}">{{review.user_firstname}} {{review.user_lastname}}</a><br>
			{{review.timestampFormatted}}<br>
		</div>

	</div>
</div>