<div data-ng-include src="'views/partials/topbar.html'"></div>

<h1 id="pagetitle">Profile</h1>

First Name: {{firstname}}<br>
First Name: {{lastname}}<br>
Email: {{email}}<br>

Old Password:
New Password:
New Password: