<div data-ng-init="loadPasswordResetHash()">
	<alert id="alert" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
	<div data-ng-show="showPasswordInputs">
	  <form data-ng-submit="attemptResetPassword()">
	    <input type="password" id="password1" name="password1" placeholder="New password" data-ng-model="password1">
	    <input type="password" id="password2" name="password2" placeholder="Re enter new password" data-ng-model="password2">
	    <input type="submit" id="submitResetAttempt" value="Reset password">
	  </form>
	</div>
</div>
