<div data-ng-init="initScoringConfirmation()">
  <div id="outcomeInfo" style="color:pink;">{{outcomeName}}</div>
  <button type="button" id="cancel" class="btn btn-danger" style="width:400px;height:75px;">Cancel</button>
</div>