<alert id="alert" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

<div data-ng-include src="'views/partials/topbar.html'"></div>


<div class="row">
	<div class="col-xs-12" style="text-align:center">
		<a data-ng-href="/"><img data-ng-src="/images/logo.png" height="150" style="margin-bottom:20px;border:red 0px solid;"></a>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" style="text-align:center">
		<form data-ng-submit="submitSearch(searchString)">
			<input type="text" style="font-size:28px;font-weight:200;height:50px;" data-ng-model="searchString" id="searchString" name="searchString" class="form-control" placeholder="Search companies, products, locations">
			<input id="searchButton" style="margin-top:10px;font-size:28px;font-weight:200;height:50px;" type="submit" class="btn btn-primary" value="Search">
		</form>
	</div>
</div>


<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

		<div id="searchResultsBox" data-ng-init="getSearchResults()" style="font-size:1.5em">
			{{numResults}}
			<ul>
				<li data-ng-repeat="result in searchResults"><a data-ng-href="{{result.link}}" >{{result.name}}</a> {{result.city}} {{result.country}} {{result.description}}</li>
			</ul>
		</div>
	</div>
</div>
