<div data-ng-include src="'views/partials/topbar.html'"></div>


<div class="row">

	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

		<h1 style="font-size:3em;font-weight:800;margin-bottom:0px;line-height:2">{{user.firstname}} {{user.lastname}}</h1>

		<div style="font-size:1.5em;margin-top:0px;line-height:0.5">
			{{user.email}}<br>
			{{user.company.name}}<br>
			{{user.title}}<br>
		</div>


		<div data-ng-repeat="review in reviews" style="margin-bottom:15px;padding-top:15px;border-top:1px dotted gray;">
			<span style="font-weight:900;font-size:1.25em">"{{review.subject}}"</span><br>
			<div style="font-weight:500;font-size:1.1em">
				<a data-ng-hide="review.product_name==null" data-ng-href="#/products/{{review.product_id}}">{{review.product_name}}</a>
				<a data-ng-hide="review.company_name==null" data-ng-href="#/companies/{{review.company_id}}">{{review.company_name}}</a>
			</div>
			<div style="clear:both;margin-top:10px;margin-bottom:10px;font-weight:300;font-size:1.25em">
				"{{review.text}}"<br>
			</div>
			{{review.timestampFormatted}}<br>
		</div>

	</div>
</div>