<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 debug">
		<alert id="alert" data-ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>
</div>


<div data-ng-include src="'views/partials/topbar.html'"></div>


<div class="row">

	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

		<!--page title-->
		<div style="font-size:3em;font-weight:800;margin-bottom:15px;border:0px red solid;float:left">{{company.name}}</div>


		<div style="margin-bottom:15px;padding-top:15px;border-top:0px dotted gray;clear:both;">

			<button type="button" class="btn btn-lg btn-success" style="margin-top:20px;margin-bottom:20px;width:200px;font-size:2.5em;" data-ng-click="sendReview()" data-ng-disabled="allValuesNotEntered">Submit</button>

			<input type="text" data-ng-model="reviewTitle" class="form-control input-lg" style="margin-bottom:10px;font-size:1.75em;" placeholder="Review title" data-ng-change="checkOkToSubmit()">

			<div style="clear:both;margin-top:15px;margin-bottom:15px;">
				<span style="font-size:2.5em;color:#666666;margin-right:10px;">Rating:</span>
				<span class="noselect">
					<i style="margin-left:2px;" class="fa fa-5x yellow" data-ng-repeat="star in stars" data-ng-class="{'fa-star':star.on==true, 'fa-star-half-o':star.half==true, 'fa-star-o':star.on==false}" data-ng-click="toggleStar($index)"></i>
				</span>
				<span style="margin-left:10px;font-size:3.5em;color:#666666;">
					(<span style="color:darkblue">{{starCount}}</span> {{starWord}})
				</span>
			</div>

			<div style="clear:both;margin-top:15px;margin-bottom:15px">
				<div style="font-size:2.5em;color:#666666;margin-right:10px;margin-bottom:15px;">Would you do business with {{company.name}} again, or recommend {{company.name}} to others?</div>
				<button type="button" data-ng-click="setPositiveReview(true)" class="hoverButtonYes positiveButton btn btn-lg" data-ng-class="{'yesPositiveReview':positiveReview===true}" style="margin-bottom:15px;width:250px;margin-right:10px;"><i class="fa fa-thumbs-o-up fa-3x"></i><span style="font-size:3em;margin-left:20px;font-weight:800">YES</button>
				<button type="button" data-ng-click="setPositiveReview(false)" class="hoverButtonNo positiveButton btn btn-lg" data-ng-class="{'noPositiveReview':positiveReview===false}" style="margin-bottom:15px;width:250px;"><i class="fa fa-exclamation-triangle fa-3x"></i><span style="font-size:3em;margin-left:20px;font-weight:800">NO</span></button>
			</div>

			<textarea style="font-size:1.5em;border:0px red dotted;height:200px;" class="form-control input-lg" placeholder="Write review here" data-ng-model="reviewText" data-ng-change="checkOkToSubmit()"></textarea>

			<button type="button" class="btn btn-lg btn-success" style="margin-top:20px;margin-bottom:20px;width:200px;font-size:2.5em;" data-ng-click="sendReview()" data-ng-disabled="allValuesNotEntered">Submit</button>
		</div>

	</div>
</div>